
<!DOCTYPE html>
<html lang="en">

<!-- start head -->
<%- include("../partials/head.ejs") %>
<!-- end head -->

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  <!-- navbar left start -->
  <%- include("../partials/navbarLeft.ejs") %>
  <!-- navbar left end -->
  
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar TOP start -->
    <%- include("../partials/navTop.ejs") %>
    <!-- End Navbar TOP -->
    <div class="container-fluid py-4">
            
        <!-- start create sản phẩm -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="col-md-12">
                        <div class="card">    
                            <form id="chinhSuaSPForm" method="post" action="/update-spp/<%= timSP._id %>" enctype="multipart/form-data">
                                <!-- sử dụng hidden để gửi phương thức PUT, hiểu là làm giả method PUT -->
                                <!-- <input type="hidden" name="_method" value="PUT" />   -->
                                <input type="hidden" name="idEdit" value="<%= timSP._id %>" id="idEdit" />  
                                <div class="card-body">
                                    <p class="text-uppercase text-sm font-weight-bold">Thông tin chỉnh sửa sản phẩm</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="TenSP" class="form-control-label text-sm">Tên sản phẩm <span style="color: red;">*</span></label>
                                                <input class="form-control" value="<%= timSP.TenSP %>" type="text" placeholder="Nhập tên sản phẩm" id="TenSP" name="TenSP" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="GiamGiaSP" class="form-control-label text-sm">Giảm giá theo <span style="color: blue;">%</span></label>
                                                <input class="form-control" type="number" min="0" max="100" value="<%= timSP.GiamGiaSP %>" id="GiamGiaSP" name="GiamGiaSP">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="IdHangSX" class="form-control-label text-sm">Hãng sản xuất (Loại sản phẩm) <span style="color: red;">*</span></label>
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="IdHangSX" id="IdHangSX">
                                                    <optgroup label="Chọn hãng sản xuất">                                                        
                                                        <% hangSx.forEach(function(hangSx) { %>    
                                                            <% if (timSP.IdHangSX._id.toString() === hangSx._id.toString()) { %>
                                                                <option style="font-weight: bold;" value="<%= hangSx._id %>" selected>
                                                                    <%= hangSx.TenHangSX %>
                                                                    &nbsp;&nbsp;( <%= hangSx.IdLoaiSP.TenLoaiSP%> )                                                                    
                                                                </option>
                                                            <% } else { %>   
                                                                <option value="<%= hangSx._id %>">
                                                                    <%= hangSx.TenHangSX %>
                                                                    &nbsp;&nbsp;( <%= hangSx.IdLoaiSP.TenLoaiSP%> )                                                                    
                                                                </option>
                                                            <% } %>    
                                                        <% }); %>
                                                    </optgroup>                                                                                  
                                                </select>                                          
                                            </div>
                                        </div>
                                        <br>
                                        
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="SoNgayKM" class="form-control-label text-sm"> 
                                                    Ngày bắt đầu khuyến mãi 
                                                    <span style="color: red;">*</span>
                                                </label>
                                                <input required class="form-control" type="datetime-local" value="<%= timSP.KhuyenMaiBatDau %>" id="KhuyenMaiBatDau" name="KhuyenMaiBatDau">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="SoNgayKM" class="form-control-label text-sm"> 
                                                    Ngày kết thúc khuyến mãi 
                                                    <span style="color: red;">*</span>
                                                </label>
                                                <input required class="form-control" type="datetime-local" value="<%= timSP.KhuyenMaiKetThuc %>" id="KhuyenMaiKetThuc" name="KhuyenMaiKetThuc">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="GiamGiaTheoNgay" class="form-control-label text-sm">Giảm giá theo ngày khuyến mại <span style="color: blue;">%</span> <br>
                                                    <span class="text-danger">(Hàng khuyến mại sẽ hiển thị nếu chưa kết thúc ngày khuyến mại)</span></label>
                                                <input class="form-control" type="number" min="0" max="100" value="<%= timSP.GiamGiaTheoNgay %>" id="GiamGiaTheoNgay" name="GiamGiaTheoNgay">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <!-- <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Postal code</label>
                                            <input class="form-control" type="text" value="437300">
                                            </div> -->
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="sizeQuantity" class="form-control-label text-sm">Size - Số lượng - Đơn giá <span style="color: red;">*</span></label>
                                                <!-- <input class="form-control" type="text" value="437300"> -->
                                                <div id="sizeQuantitiesJSON" style="display: none;"><%= JSON.stringify(sizeQuantitiesJSON) %></div>
                                                <div id="sizeInputs" class="row" data-size-quantities="<%= JSON.stringify(sizeQuantitiesJSON) %>">
                                                    <!-- Đây là nơi để các trường nhập thông tin size, quantity và price được thêm vào bằng JavaScript -->

                                                </div>
                                                <!-- <button class="btn btn-primary" id="addSizeButton" type="button" onclick="addSizeInputUpdate()">Add Size</button><br><br> -->
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="Icon" class="form-control-label text-sm">Hình Ảnh: <span style="color: red;">*</span></label>
                                                <input name="Icon" id="Icon" class="form-control" type="file" multiple onchange="previewImagesUpdate()">
                                                <input  type="text" 
                                                        id="luuAnh" 
                                                        class="form-control" 
                                                        name="luuAnh"                                                          
                                                        placeholder="Vui lòng chọn tệp ảnh"
                                                        readonly style="border: none;position: relative;top: -39px; left: 85px;"
                                                    >
                                                    <script>
                                                        window.addEventListener('DOMContentLoaded', (event) => {
                                                            document.getElementById('luuAnh').value = '<%= timSP.Icon.join(',') %>'.replace(/,/g, '\n');
                                                        });                                                        
                                                    </script>
                                                <div id="imagePreviewContainer" style="background-color: rgba(243, 243, 243, 0.815);border-radius: 10px;">
                                                    <% timSP.Icon.forEach(image => { %>
                                                        <img height="100" width="100" src="<%= image %>" alt="Ảnh sản phẩm">
                                                    <% }); %>
                                                </div> <!-- Nơi để hiển thị các ảnh preview -->
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="HinhAnh1" class="form-control-label">Hình Ảnh 2: <span style="color: red;">*</span></label>
                                                <input name="HinhAnh1" id="HinhAnh1" class="form-control" type="file">
                                                <img id="imagePreview1" height="100" width="100" src="" alt="ảnh 2">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="HinhAnh2" class="form-control-label">Hình Ảnh 3: <span style="color: red;">*</span></label>
                                                <input name="HinhAnh2" id="HinhAnh2" class="form-control" type="file">
                                                <img id="imagePreview2" height="100" width="100" src="" alt="ảnh 3">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="HinhAnh3" class="form-control-label">Hình Ảnh 4: <span style="color: red;">*</span></label>
                                                <input name="HinhAnh3" id="HinhAnh3" class="form-control" type="file">
                                                <img id="imagePreview3" height="100" width="100" src="" alt="ảnh 4">
                                            </div>
                                        </div> -->
                                    </div>
                                    
                                    <p class="text-uppercase text-sm font-weight-bold">Soạn thảo mô tả và mô tả chi tiết</p>
    
                                    <div class="col-md-12">
                                        <label for="MoTa" class="form-label text-sm">Mô Tả</label>
                                        <textarea name="MoTa" id="MoTa" class="form-control"><%= timSP.MoTa %></textarea>
                                    </div>
    
                                    <div class="col-md-12">
                                        <label for="MoTaChiTiet" class="form-label text-sm">Mô Tả Chi Tiết</label>
                                        <textarea name="MoTaChiTiet" id="MoTaChiTiet" class="form-control"><%= timSP.MoTaChiTiet %></textarea>
                                    </div>
    
                                    <div class="card-header pb-0">
                                        <button type="submit" class="btn bg-gradient-success  ms-auto">Đồng ý chỉnh sửa</button>                              
                                    </div>
                                </div>
                            </form>                                                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    
        <!-- end create sản phẩm -->
      
      <%- include("../partials/footer.ejs") %>
    </div>

  </main>

  <!-- chân trang và các script -->
  <%- include("../partials/chanTrangVaScript.ejs") %>
  <!-- end chân trang và các script -->
  
</body>

</html>