<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- index-231:32-->
    <!-- start head -->
    <%- include("../TrangChu/partials/head.ejs") %>
    <!-- end head -->
    <body>

        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <%- include("../TrangChu/partials/navTop.ejs") %>
            <!-- Header Area End Here -->

            <!-- Begin Slider With Category Menu Area -->
            <%- include("../TrangChu/partials/slider-with-banner.ejs") %>
            <!-- Slider With Category Menu Area End Here -->            

            <!-- start nội dung sản phẩm của trang chủ tại đây -->
            <%- include("../TrangChu/partials/body-product-page-home.ejs") %>
            <!-- end nội dung sản phẩm của trang chủ tại đây -->
            
            <!-- Begin Footer Area -->
            <%- include("../TrangChu/partials/footer.ejs") %>
            <!-- Footer Area End Here -->

            <!-- Begin Quick View | Modal Area -->
            <%- include("../TrangChu/Modal/modal-detailt-product.ejs") %>
            <!-- Quick View | Modal Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- các script -->
        <%- include("../TrangChu/partials/chanTrangVaScript.ejs") %>
    </body>

<!-- index-231:38-->
</html>
